## 데이터 불러오기

In [1]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,꽈뚜룹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,꽈뚜룹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,꽈뚜룹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,꽈뚜룹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,꽈뚜룹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,공범 EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,공범 EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,공범 EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,공범 EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,공범 EP1

### 1. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [2]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
video['videoname'].value_counts()

 공범 EP1    3492
 공범 EP2    3204
 공범 EP3    2568
 공범 EP4    2280
 공범 EP5    1562
 공범 EP6    1274
 공범 EP7     555
 공범 EP8     266
Name: videoname, dtype: int64

### 2. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [9]:
video.sort_values('ct', ascending = False).drop_duplicates('videoname', keep = 'first')[['videoname', 'viewcnt' ,'ct']].sort_values('videoname').reset_index(drop=True)

  videoname  viewcnt                  ct
0    공범 EP1  3180532 2021-11-01 15:30:03
1    공범 EP2  2199328 2021-11-01 15:30:03
2    공범 EP3  1671294 2021-11-01 15:30:03
3    공범 EP4  1818493 2021-11-01 15:30:03
4    공범 EP5  1503435 2021-11-01 15:30:04
5    공범 EP6  1750222 2021-11-01 15:30:04
6    공범 EP7  1630200 2021-11-01 15:30:05
7    공범 EP8  1289088 2021-11-01 15:30:05

### 3. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [201]:
channel[channel['ct'] > pd.to_datetime('2021-10-03')].sort_values('ct').drop_duplicates('channelname', keep='first')[['channelname', 'subcnt']]

          channelname   subcnt
393            논리왕 전기   922000
266        츄정ChuJeong   322000
139             야전삽짱재   257000
901        김농밀의 농밀한 삶     7520
520   와글와글 WagleWagle    55000
1028      릴펄 Lilpearl    10100
774           형사!탐정되다    14900
647               조나단   215000
12                꽈뚜룹  1330000
1276    Balming Tiger    54300
1155    곽토리 kwak tori   471000

### 4. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [202]:
start = channel[channel['ct'] >= pd.to_datetime('2021-10-03 03:00:00')]
end = channel[channel['ct'] <= pd.to_datetime('2021-11-01 15:00:00')]
start = start.sort_values('ct').drop_duplicates('channelname', keep='first')
end = end.sort_values('ct', ascending = False).drop_duplicates('channelname', keep='first')
start = start.sort_values('channelname')[['channelname', 'subcnt']].reset_index(drop=True)
end = end.sort_values('channelname')[['channelname', 'subcnt']].reset_index(drop=True)
end['subcnt2'] = end['subcnt']
end = end.drop(columns = 'subcnt')

target = pd.merge(start, end)
target['diff'] = target['subcnt2'] - target['subcnt']
target[['channelname', 'diff']]

        channelname   diff
0     Balming Tiger   2500
1     곽토리 kwak tori  -2000
2        김농밀의 농밀한 삶   1540
3               꽈뚜룹  70000
4            논리왕 전기 -11000
5       릴펄 Lilpearl  11000
6             야전삽짱재  11000
7   와글와글 WagleWagle      0
8               조나단  12000
9        츄정ChuJeong   1000
10          형사!탐정되다  10300

### 5. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [203]:
# 알고리즘 처럼 풀어보고 싶은 문제임
ep1 = video[video['videopk'] == 'c5JQp6xafqc']
ep1 = ep1.sort_values('ct').reset_index(drop=True)
ep1['min'] = ep1['ct'].dt.minute
ep1.value_counts('min')
display(ep1[(ep1['min'] == 41) | (ep1['min'] == 13) | (ep1['min'] == 23)]) # 여기서 인덱스 번호 보고 일일이 리스트 만들었음 ㅎㅎ;;
ls = [720, 721, 722, 1624, 1625, 1626]
ep1[ep1.index.isin(ls)]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,min
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
1608,c5JQp6xafqc,2701345,37845,985,0,7407,2021-10-19 13:23:08,공범 EP1,23
1625,c5JQp6xafqc,2704790,37874,986,0,7409,2021-10-19 16:13:20,공범 EP1,13

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,min
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1,20
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
1624,c5JQp6xafqc,2704584,37873,986,0,7407,2021-10-19 16:00:02,공범 EP1,0
1625,c5JQp6xafqc,2704790,37874,986,0,7409,2021-10-19 16:13:20,공범 EP1,13
1626,c5JQp6xafqc,2704865,37876,986,0,7410,2021-10-19 16:20:03,공범 EP1,20

In [204]:
# 이게 절대 맞는 풀이가 아니라는 생각이 듦
import datetime

ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[
        (ep_one.ct.diff(1) >=datetime.timedelta(minutes=20)) | \
        (ep_one.ct.diff(1) <=datetime.timedelta(minutes=5))
      
      ]

answer = ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

### 6. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [211]:
target = video.sort_values('ct')
target['YMD'] =target['ct'].dt.date 
target.drop_duplicates('videopk', keep='first')[['videoname', 'YMD']]

      videoname         YMD
10       공범 EP1  2021-10-07
3496     공범 EP2  2021-10-09
6696     공범 EP3  2021-10-14
9264     공범 EP4  2021-10-16
11544    공범 EP5  2021-10-21
13661    공범 EP6  2021-10-23
13106    공범 EP7  2021-10-28
14935    공범 EP8  2021-10-30

### 7. “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [222]:
target = video.copy()
target['hour'] = target['ct'].dt.hour
target[target['hour'] == 21].sort_values('ct').drop_duplicates('videoname', keep='first')[['videoname','viewcnt','ct']].sort_values('viewcnt', ascending = False)

      videoname  viewcnt                  ct
14945    공범 EP8   264029 2021-10-30 21:00:08
13117    공범 EP7   252032 2021-10-28 21:00:04
9275     공범 EP4   217674 2021-10-16 21:00:04
13672    공범 EP6   213899 2021-10-23 21:00:06
11555    공범 EP5   201179 2021-10-21 21:00:04
3507     공범 EP2   148144 2021-10-09 21:00:03
6707     공범 EP3   147183 2021-10-14 21:00:04
21       공범 EP1   117340 2021-10-07 21:00:03

### 8. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [256]:
target = video.copy()
target = target.sort_values('ct').drop_duplicates('videoname', keep='last')
target['ratio'] = target['dislikecnt']/target['likecnt']
target[['videoname', 'ratio']].sort_values('ratio')

      videoname     ratio
13660    공범 EP7  0.013636
14934    공범 EP6  0.015881
11543    공범 EP4  0.017971
13105    공범 EP5  0.021128
9263     공범 EP3  0.022360
3491     공범 EP1  0.027118
6695     공범 EP2  0.029844
15200    공범 EP8  0.141357

### 9. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [240]:
target = video.copy()
target = target[(target['ct'] >= pd.to_datetime('2021-11-01 00:00:00')) & (target['ct'] <= pd.to_datetime('2021-11-01 15:00:00'))]
first = target.drop_duplicates('videoname', keep='first')[['videoname', 'viewcnt']]
last = target.drop_duplicates('videoname', keep='last')[['videoname', 'viewcnt']]
last.rename(columns = {'viewcnt':'viewcnt2'}, inplace = True)
ans = first.merge(last)
ans['diff'] = ans['viewcnt2']-ans['viewcnt']
ans[['videoname','diff']]

  videoname   diff
0    공범 EP1  13298
1    공범 EP2  10300
2    공범 EP3   9927
3    공범 EP4   9824
4    공범 EP5  10824
5    공범 EP7  26949
6    공범 EP6  14141
7    공범 EP8  89147

### 10. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [251]:
video[video.duplicated()][['videoname', 'ct']]

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37

## 데이터 불러오기

In [ ]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

### 1. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [ ]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
video['videoname'].value_counts()

### 2. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [ ]:
video.sort_values(['ct', 'videoname']).groupby('videopk')[['videoname','ct', 'viewcnt']].head(1)

### 3. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [201]:
channel[channel['ct'] > pd.to_datetime('2021-10-03')].sort_values('ct').drop_duplicates('channelname', keep='first')[['channelname', 'subcnt']]

          channelname   subcnt
393            논리왕 전기   922000
266        츄정ChuJeong   322000
139             야전삽짱재   257000
901        김농밀의 농밀한 삶     7520
520   와글와글 WagleWagle    55000
1028      릴펄 Lilpearl    10100
774           형사!탐정되다    14900
647               조나단   215000
12                꽈뚜룹  1330000
1276    Balming Tiger    54300
1155    곽토리 kwak tori   471000

### 4. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [202]:
start = channel[channel['ct'] >= pd.to_datetime('2021-10-03 03:00:00')]
end = channel[channel['ct'] <= pd.to_datetime('2021-11-01 15:00:00')]
start = start.sort_values('ct').drop_duplicates('channelname', keep='first')
end = end.sort_values('ct', ascending = False).drop_duplicates('channelname', keep='first')
start = start.sort_values('channelname')[['channelname', 'subcnt']].reset_index(drop=True)
end = end.sort_values('channelname')[['channelname', 'subcnt']].reset_index(drop=True)
end['subcnt2'] = end['subcnt']
end = end.drop(columns = 'subcnt')

target = pd.merge(start, end)
target['diff'] = target['subcnt2'] - target['subcnt']
target[['channelname', 'diff']]

        channelname   diff
0     Balming Tiger   2500
1     곽토리 kwak tori  -2000
2        김농밀의 농밀한 삶   1540
3               꽈뚜룹  70000
4            논리왕 전기 -11000
5       릴펄 Lilpearl  11000
6             야전삽짱재  11000
7   와글와글 WagleWagle      0
8               조나단  12000
9        츄정ChuJeong   1000
10          형사!탐정되다  10300

### 5. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [203]:
# 알고리즘 처럼 풀어보고 싶은 문제임
ep1 = video[video['videopk'] == 'c5JQp6xafqc']
ep1 = ep1.sort_values('ct').reset_index(drop=True)
ep1['min'] = ep1['ct'].dt.minute
ep1.value_counts('min')
display(ep1[(ep1['min'] == 41) | (ep1['min'] == 13) | (ep1['min'] == 23)]) # 여기서 인덱스 번호 보고 일일이 리스트 만들었음 ㅎㅎ;;
ls = [720, 721, 722, 1624, 1625, 1626]
ep1[ep1.index.isin(ls)]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,min
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
1608,c5JQp6xafqc,2701345,37845,985,0,7407,2021-10-19 13:23:08,공범 EP1,23
1625,c5JQp6xafqc,2704790,37874,986,0,7409,2021-10-19 16:13:20,공범 EP1,13

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,min
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1,20
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
1624,c5JQp6xafqc,2704584,37873,986,0,7407,2021-10-19 16:00:02,공범 EP1,0
1625,c5JQp6xafqc,2704790,37874,986,0,7409,2021-10-19 16:13:20,공범 EP1,13
1626,c5JQp6xafqc,2704865,37876,986,0,7410,2021-10-19 16:20:03,공범 EP1,20

In [204]:
# 이게 절대 맞는 풀이가 아니라는 생각이 듦
import datetime

ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[
        (ep_one.ct.diff(1) >=datetime.timedelta(minutes=20)) | \
        (ep_one.ct.diff(1) <=datetime.timedelta(minutes=5))
      
      ]

answer = ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

### 6. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [211]:
target = video.sort_values('ct')
target['YMD'] =target['ct'].dt.date 
target.drop_duplicates('videopk', keep='first')[['videoname', 'YMD']]

      videoname         YMD
10       공범 EP1  2021-10-07
3496     공범 EP2  2021-10-09
6696     공범 EP3  2021-10-14
9264     공범 EP4  2021-10-16
11544    공범 EP5  2021-10-21
13661    공범 EP6  2021-10-23
13106    공범 EP7  2021-10-28
14935    공범 EP8  2021-10-30

### 7. “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [222]:
target = video.copy()
target['hour'] = target['ct'].dt.hour
target[target['hour'] == 21].sort_values('ct').drop_duplicates('videoname', keep='first')[['videoname','viewcnt','ct']].sort_values('viewcnt', ascending = False)

      videoname  viewcnt                  ct
14945    공범 EP8   264029 2021-10-30 21:00:08
13117    공범 EP7   252032 2021-10-28 21:00:04
9275     공범 EP4   217674 2021-10-16 21:00:04
13672    공범 EP6   213899 2021-10-23 21:00:06
11555    공범 EP5   201179 2021-10-21 21:00:04
3507     공범 EP2   148144 2021-10-09 21:00:03
6707     공범 EP3   147183 2021-10-14 21:00:04
21       공범 EP1   117340 2021-10-07 21:00:03

### 8. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [256]:
target = video.copy()
target = target.sort_values('ct').drop_duplicates('videoname', keep='last')
target['ratio'] = target['dislikecnt']/target['likecnt']
target[['videoname', 'ratio']].sort_values('ratio')

      videoname     ratio
13660    공범 EP7  0.013636
14934    공범 EP6  0.015881
11543    공범 EP4  0.017971
13105    공범 EP5  0.021128
9263     공범 EP3  0.022360
3491     공범 EP1  0.027118
6695     공범 EP2  0.029844
15200    공범 EP8  0.141357

### 9. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [240]:
target = video.copy()
target = target[(target['ct'] >= pd.to_datetime('2021-11-01 00:00:00')) & (target['ct'] <= pd.to_datetime('2021-11-01 15:00:00'))]
first = target.drop_duplicates('videoname', keep='first')[['videoname', 'viewcnt']]
last = target.drop_duplicates('videoname', keep='last')[['videoname', 'viewcnt']]
last.rename(columns = {'viewcnt':'viewcnt2'}, inplace = True)
ans = first.merge(last)
ans['diff'] = ans['viewcnt2']-ans['viewcnt']
ans[['videoname','diff']]

  videoname   diff
0    공범 EP1  13298
1    공범 EP2  10300
2    공범 EP3   9927
3    공범 EP4   9824
4    공범 EP5  10824
5    공범 EP7  26949
6    공범 EP6  14141
7    공범 EP8  89147

### 10. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [251]:
video[video.duplicated()][['videoname', 'ct']]

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37

## 데이터 불러오기

In [ ]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

### 1. 각 데이터의 ‘ct’컬럼을 시간으로 인식할수 있게 datatype을 변경하고 video 데이터의 videoname의 각 value 마다 몇개의 데이터씩 가지고 있는지 확인하라

In [ ]:
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])
video['videoname'].value_counts()

### 2. 수집된 각 video의 가장 최신화 된 날짜의 viewcount값을 출력하라

In [ ]:
video.sort_values(['ct', 'videoname']).groupby('videopk')[['videoname','ct', 'viewcnt']].head(1)

### 3. Channel 데이터중 2021-10-03일 이후 각 채널의 처음 기록 됐던 구독자 수(subcnt)를 출력하라

In [201]:
channel[channel['ct'] > pd.to_datetime('2021-10-03')].sort_values('ct').drop_duplicates('channelname', keep='first')[['channelname', 'subcnt']]

          channelname   subcnt
393            논리왕 전기   922000
266        츄정ChuJeong   322000
139             야전삽짱재   257000
901        김농밀의 농밀한 삶     7520
520   와글와글 WagleWagle    55000
1028      릴펄 Lilpearl    10100
774           형사!탐정되다    14900
647               조나단   215000
12                꽈뚜룹  1330000
1276    Balming Tiger    54300
1155    곽토리 kwak tori   471000

### 4. 각채널의 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 까지 구독자수 (subcnt) 의 증가량을 구하여라

In [202]:
start = channel[channel['ct'] >= pd.to_datetime('2021-10-03 03:00:00')]
end = channel[channel['ct'] <= pd.to_datetime('2021-11-01 15:00:00')]
start = start.sort_values('ct').drop_duplicates('channelname', keep='first')
end = end.sort_values('ct', ascending = False).drop_duplicates('channelname', keep='first')
start = start.sort_values('channelname')[['channelname', 'subcnt']].reset_index(drop=True)
end = end.sort_values('channelname')[['channelname', 'subcnt']].reset_index(drop=True)
end['subcnt2'] = end['subcnt']
end = end.drop(columns = 'subcnt')

target = pd.merge(start, end)
target['diff'] = target['subcnt2'] - target['subcnt']
target[['channelname', 'diff']]

        channelname   diff
0     Balming Tiger   2500
1     곽토리 kwak tori  -2000
2        김농밀의 농밀한 삶   1540
3               꽈뚜룹  70000
4            논리왕 전기 -11000
5       릴펄 Lilpearl  11000
6             야전삽짱재  11000
7   와글와글 WagleWagle      0
8               조나단  12000
9        츄정ChuJeong   1000
10          형사!탐정되다  10300

### 5. 각 비디오는 10분 간격으로 구독자수, 좋아요, 싫어요수, 댓글수가 수집된것으로 알려졌다. 공범 EP1의 비디오정보 데이터중 수집간격이 5분 이하, 20분이상인 데이터 구간( 해당 시점 전,후) 의 시각을 모두 출력하라

In [203]:
# 알고리즘 처럼 풀어보고 싶은 문제임
ep1 = video[video['videopk'] == 'c5JQp6xafqc']
ep1 = ep1.sort_values('ct').reset_index(drop=True)
ep1['min'] = ep1['ct'].dt.minute
ep1.value_counts('min')
display(ep1[(ep1['min'] == 41) | (ep1['min'] == 13) | (ep1['min'] == 23)]) # 여기서 인덱스 번호 보고 일일이 리스트 만들었음 ㅎㅎ;;
ls = [720, 721, 722, 1624, 1625, 1626]
ep1[ep1.index.isin(ls)]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,min
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
1608,c5JQp6xafqc,2701345,37845,985,0,7407,2021-10-19 13:23:08,공범 EP1,23
1625,c5JQp6xafqc,2704790,37874,986,0,7409,2021-10-19 16:13:20,공범 EP1,13

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname,min
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1,20
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1,41
1624,c5JQp6xafqc,2704584,37873,986,0,7407,2021-10-19 16:00:02,공범 EP1,0
1625,c5JQp6xafqc,2704790,37874,986,0,7409,2021-10-19 16:13:20,공범 EP1,13
1626,c5JQp6xafqc,2704865,37876,986,0,7410,2021-10-19 16:20:03,공범 EP1,20

In [204]:
# 이게 절대 맞는 풀이가 아니라는 생각이 듦
import datetime

ep_one = video.loc[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[
        (ep_one.ct.diff(1) >=datetime.timedelta(minutes=20)) | \
        (ep_one.ct.diff(1) <=datetime.timedelta(minutes=5))
      
      ]

answer = ep_one[ep_one.index.isin([720,721,722,723,1635,1636,1637])]
display(answer)

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,공범 EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,공범 EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,공범 EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,공범 EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,공범 EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,공범 EP1

### 6. 각 에피소드의 시작날짜(년-월-일)를 에피소드 이름과 묶어 데이터 프레임으로 만들고 출력하라

In [211]:
target = video.sort_values('ct')
target['YMD'] =target['ct'].dt.date 
target.drop_duplicates('videopk', keep='first')[['videoname', 'YMD']]

      videoname         YMD
10       공범 EP1  2021-10-07
3496     공범 EP2  2021-10-09
6696     공범 EP3  2021-10-14
9264     공범 EP4  2021-10-16
11544    공범 EP5  2021-10-21
13661    공범 EP6  2021-10-23
13106    공범 EP7  2021-10-28
14935    공범 EP8  2021-10-30

### 7. “공범” 컨텐츠의 경우 19:00시에 공개 되는것으로 알려져있다. 공개된 날의 21시의 viewcnt, ct, videoname 으로 구성된 데이터 프레임을 viewcnt를 내림차순으로 정렬하여 출력하라

In [222]:
target = video.copy()
target['hour'] = target['ct'].dt.hour
target[target['hour'] == 21].sort_values('ct').drop_duplicates('videoname', keep='first')[['videoname','viewcnt','ct']].sort_values('viewcnt', ascending = False)

      videoname  viewcnt                  ct
14945    공범 EP8   264029 2021-10-30 21:00:08
13117    공범 EP7   252032 2021-10-28 21:00:04
9275     공범 EP4   217674 2021-10-16 21:00:04
13672    공범 EP6   213899 2021-10-23 21:00:06
11555    공범 EP5   201179 2021-10-21 21:00:04
3507     공범 EP2   148144 2021-10-09 21:00:03
6707     공범 EP3   147183 2021-10-14 21:00:04
21       공범 EP1   117340 2021-10-07 21:00:03

### 8. video 정보의 가장 최근 데이터들에서 각 에피소드의 싫어요/좋아요 비율을 ratio 컬럼으로 만들고 videoname, ratio로 구성된 데이터 프레임을 ratio를 오름차순으로 정렬하라

In [256]:
target = video.copy()
target = target.sort_values('ct').drop_duplicates('videoname', keep='last')
target['ratio'] = target['dislikecnt']/target['likecnt']
target[['videoname', 'ratio']].sort_values('ratio')

      videoname     ratio
13660    공범 EP7  0.013636
14934    공범 EP6  0.015881
11543    공범 EP4  0.017971
13105    공범 EP5  0.021128
9263     공범 EP3  0.022360
3491     공범 EP1  0.027118
6695     공범 EP2  0.029844
15200    공범 EP8  0.141357

### 9. 2021-11-01 00:00:00 ~ 15:00:00까지 각 에피소드별 viewcnt의 증가량을 데이터 프레임으로 만드시오

In [240]:
target = video.copy()
target = target[(target['ct'] >= pd.to_datetime('2021-11-01 00:00:00')) & (target['ct'] <= pd.to_datetime('2021-11-01 15:00:00'))]
first = target.drop_duplicates('videoname', keep='first')[['videoname', 'viewcnt']]
last = target.drop_duplicates('videoname', keep='last')[['videoname', 'viewcnt']]
last.rename(columns = {'viewcnt':'viewcnt2'}, inplace = True)
ans = first.merge(last)
ans['diff'] = ans['viewcnt2']-ans['viewcnt']
ans[['videoname','diff']]

  videoname   diff
0    공범 EP1  13298
1    공범 EP2  10300
2    공범 EP3   9927
3    공범 EP4   9824
4    공범 EP5  10824
5    공범 EP7  26949
6    공범 EP6  14141
7    공범 EP8  89147

### 10. video 데이터 중에서 중복되는 데이터가 존재한다. 중복되는 각 데이터의 시간대와 videoname 을 구하여라

In [251]:
video[video.duplicated()][['videoname', 'ct']]

     videoname                  ct
722     공범 EP1 2021-10-13 09:41:37
3927    공범 EP2 2021-10-13 09:41:37