## 데이터 불러오기

In [139]:
import pandas as pd
#데이터 로드
X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/y_train.csv")
X_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/x_test.csv")
y_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/y_test.csv")


display(X_train.head())
display(y_train.head())
display(X_test.head())

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,1,10.6,0.44,0.68,4.1,0.114,6.0,24.0,0.99700,3.06,0.66,13.4
1,2,7.0,0.60,0.30,4.5,0.068,20.0,110.0,0.99914,3.30,1.17,10.2
2,3,8.0,0.43,0.36,2.3,0.075,10.0,48.0,0.99760,3.34,0.46,9.4
3,4,7.9,0.53,0.24,2.0,0.072,15.0,105.0,0.99600,3.27,0.54,9.4
4,5,8.0,0.45,0.23,2.2,0.094,16.0,29.0,0.99620,3.21,0.49,10.2

   ID  quality
0   1        6
1   2        5
2   3        5
3   4        6
4   5        6

,ID,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0,7.5,0.380,0.57,2.3,0.106,5.0,12.0,0.99605,3.36,0.55,11.4
1,7,8.2,0.240,0.34,5.1,0.062,8.0,22.0,0.99740,3.22,0.94,10.9
2,12,7.7,0.750,0.27,3.8,0.110,34.0,89.0,0.99664,3.24,0.45,9.3
3,13,7.3,0.980,0.05,2.1,0.061,20.0,49.0,0.99705,3.31,0.55,9.7
4,25,6.6,0.895,0.04,2.3,0.068,7.0,13.0,0.99582,3.53,0.58,10.8

In [140]:
print(X_train.shape)
print("="*100)
print(y_train.shape)
print("="*100)
print(X_test.shape)
print("="*100)

(1279, 12)
====================================================================================================
(1279, 2)
====================================================================================================
(320, 12)
====================================================================================================

In [141]:
print(X_train.info())
print("="*100)
print(y_train.info())
print("="*100)
print(X_test.info())
print("="*100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    1279 non-null   int64
 1   fixed acidity         1279 non-null   float64
 2   volatile acidity      1279 non-null   float64
 3   citric acid           1279 non-null   float64
 4   residual sugar        1279 non-null   float64
 5   chlorides             1279 non-null   float64
 6   free sulfur dioxide   1279 non-null   float64
 7   total sulfur dioxide  1279 non-null   float64
 8   density               1279 non-null   float64
 9   pH                    1279 non-null   float64
 10  sulphates             1279 non-null   float64
 11  alcohol               1279 non-null   float64
dtypes: float64(11), int64(1)
memory usage: 120.0 KB
None
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       1279 non-null   int64
 1   quality  1279 non-null   int64
dtypes: int64(2)
memory usage: 20.1 KB
None
====================================================================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    320 non-null    int64
 1   fixed acidity         320 non-null    float64
 2   volatile acidity      320 non-null    float64
 3   citric acid           320 non-null    float64
 4   residual sugar        320 non-null    float64
 5   chlorides             320 non-null    float64
 6   free sulfur dioxide   320 non-null    float64
 7   total sulfur dioxide  320 non-null    float64
 8   density               320 non-null    float64
 9   pH                    320 non-null    float64
 10  sulphates             320 non-null    float64
 11  alcohol               320 non-null    float64
dtypes: float64(11), int64(1)
memory usage: 30.1 KB
None
====================================================================================================

In [142]:
print(X_train.describe())
print("="*100)
print(y_train.describe())
print("="*100)
print(X_test.describe())
print("="*100)

                ID  fixed acidity  volatile acidity  citric acid  \
count  1279.000000    1279.000000       1279.000000  1279.000000
mean    797.007819       8.318530          0.527346     0.271439
std     465.696023       1.762012          0.175516     0.196058
min       1.000000       4.600000          0.120000     0.000000
25%     383.500000       7.100000          0.400000     0.100000
50%     804.000000       7.900000          0.520000     0.250000
75%    1201.500000       9.200000          0.640000     0.430000
max    1598.000000      15.900000          1.580000     1.000000

       residual sugar    chlorides  free sulfur dioxide  total sulfur dioxide  \
count     1279.000000  1279.000000          1279.000000           1279.000000
mean         2.539406     0.087201            15.825645             46.627052
std          1.370279     0.045805            10.376335             33.362436
min          0.900000     0.012000             1.000000              6.000000
25%          1.900000     0.070000             8.000000             22.000000
50%          2.200000     0.079000            14.000000             38.000000
75%          2.600000     0.091000            21.000000             62.000000
max         15.400000     0.610000            72.000000            289.000000

           density           pH    sulphates      alcohol
count  1279.000000  1279.000000  1279.000000  1279.000000
mean      0.996724     3.309836     0.657381    10.437217
std       0.001877     0.157000     0.169051     1.077625
min       0.990070     2.740000     0.370000     8.400000
25%       0.995600     3.210000     0.550000     9.500000
50%       0.996720     3.310000     0.620000    10.200000
75%       0.997845     3.400000     0.730000    11.100000
max       1.003690     4.010000     2.000000    14.900000
====================================================================================================
                ID      quality
count  1279.000000  1279.000000
mean    797.007819     5.647381
std     465.696023     0.809745
min       1.000000     3.000000
25%     383.500000     5.000000
50%     804.000000     6.000000
75%    1201.500000     6.000000
max    1598.000000     8.000000
====================================================================================================
                ID  fixed acidity  volatile acidity  citric acid  \
count   320.000000     320.000000        320.000000   320.000000
mean    806.962500       7.291250          0.562453     0.198063
std     446.177831       1.147678          0.179539     0.169528
min       0.000000       5.000000          0.160000     0.000000
25%     445.750000       6.600000          0.447500     0.050000
50%     774.500000       7.200000          0.570000     0.155000
75%    1194.250000       7.700000          0.670000     0.312500
max    1595.000000      11.700000          1.580000     0.780000

       residual sugar   chlorides  free sulfur dioxide  total sulfur dioxide  \
count      320.000000  320.000000           320.000000            320.000000
mean         2.446094    0.081900            17.540625             45.043750
std          1.746988    0.043153            10.865301             29.969519
min          1.200000    0.038000             3.000000              7.000000
25%          1.800000    0.064000             9.000000             23.000000
50%          2.100000    0.076000            15.000000             34.000000
75%          2.300000    0.083000            23.250000             60.000000
max         15.400000    0.415000            66.000000            147.000000

          density          pH   sulphates     alcohol
count  320.000000  320.000000  320.000000  320.000000
mean     0.995845    3.356469    0.635625   10.516719
std      0.001570    0.142797    0.147967    0.930483
min      0.991820    2.880000    0.370000    8.500000
25%      0.994947    3.280000    0.540000    9.800000
50%      0.995800    3.355000    0.600000   10.400000
75%      0.996560    3.420000    0.700000   11.100000
max      1.003690    4.010000    1.330000   13.600000
====================================================================================================

In [143]:
print(X_train.isna().sum().sum())
print("="*100)
print(y_train.isna().sum().sum())
print("="*100)
print(X_test.isna().sum().sum())
print("="*100)

0
====================================================================================================
0
====================================================================================================
0
====================================================================================================

In [144]:
X_train = X_train.drop(columns = 'ID')
y_train = y_train.drop(columns = 'ID')
X_test_ID = X_test.pop('ID')

display(X_train.head())
display(y_train.head())
display(X_test.head())

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,10.6,0.44,0.68,4.1,0.114,6.0,24.0,0.99700,3.06,0.66,13.4
1,7.0,0.60,0.30,4.5,0.068,20.0,110.0,0.99914,3.30,1.17,10.2
2,8.0,0.43,0.36,2.3,0.075,10.0,48.0,0.99760,3.34,0.46,9.4
3,7.9,0.53,0.24,2.0,0.072,15.0,105.0,0.99600,3.27,0.54,9.4
4,8.0,0.45,0.23,2.2,0.094,16.0,29.0,0.99620,3.21,0.49,10.2

   quality
0        6
1        5
2        5
3        6
4        6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.5,0.380,0.57,2.3,0.106,5.0,12.0,0.99605,3.36,0.55,11.4
1,8.2,0.240,0.34,5.1,0.062,8.0,22.0,0.99740,3.22,0.94,10.9
2,7.7,0.750,0.27,3.8,0.110,34.0,89.0,0.99664,3.24,0.45,9.3
3,7.3,0.980,0.05,2.1,0.061,20.0,49.0,0.99705,3.31,0.55,9.7
4,6.6,0.895,0.04,2.3,0.068,7.0,13.0,0.99582,3.53,0.58,10.8

In [145]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
Scaler = MinMaxScaler()

ls = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol']
X_train[ls] = Scaler.fit_transform(X_train[ls])
X_test[ls] = Scaler.fit_transform(X_test[ls])

In [197]:
from sklearn.model_selection import train_test_split
X_tr, X_ts, y_tr, y_ts = train_test_split(X_train, y_train, test_size=0.3)

In [198]:
from sklearn.ensemble import RandomForestRegressor
modelRF = RandomForestRegressor()
modelRF.fit(X_tr, y_tr)
modelRF.score(X_ts, y_ts)

C:\Users\inseo\AppData\Local\Temp\ipykernel_2792\540661701.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr, y_tr)

0.41331888247655824

In [204]:
result = modelRF.predict(X_ts)

In [205]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_ts, result)

0.4432812499999999

In [207]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_ts, result)

0.3729739583333333

In [210]:
from sklearn.metrics import mean_squared_error
import numpy as np
MSE = mean_squared_error(y_ts, result)
np.sqrt(MSE)

0.6107159391512009

In [211]:
from sklearn.metrics import r2_score
r2_score(y_ts, result)

0.41331888247655824

In [199]:
y_pred = modelRF.predict(X_test)

In [200]:
# MAE
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test['quality'], y_pred)

0.6059374999999999

In [201]:
# MSE
from sklearn.metrics import mean_squared_error 
mean_squared_error(y_test['quality'], y_pred)

0.64375125

In [202]:
# RMSE
from sklearn.metrics import mean_squared_error 
import numpy as np
MSE = mean_squared_error(y_test['quality'], y_pred) 
np.sqrt(MSE)

0.8023411057648735

In [203]:
from sklearn.metrics import r2_score
r2_score(y_pred,y_test['quality'])

-0.8324347526624845