## 데이터 불러오기

In [142]:
import pandas as pd
#데이터 로드
X_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/y_train.csv")
X_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/x_test.csv")
y_test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/y_test.csv")


display(X_train.head())
display(y_train.head())
display(X_test)

,ID,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,0,8.662710,173.531947,20333.079495,5.636388,439.787938,459.633120,16.283311,89.924253,5.120103
1,1,NaN,226.270824,15380.124079,6.661474,NaN,392.558205,14.083110,50.286395,4.516870
2,2,7.583770,217.283262,36343.407055,8.532726,375.964391,393.877683,17.442301,77.722257,3.642289
3,3,6.584813,182.375456,24723.106296,6.238920,NaN,414.350751,17.582615,78.213738,4.404132
4,4,7.179864,180.854211,10859.553752,8.263503,341.302486,358.056264,12.065317,83.329918,3.878447

   ID  Potability
0   0           0
1   1           1
2   2           0
3   3           0
4   4           0

,ID,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,16,4.891960,153.506232,9559.547392,7.847066,349.824390,496.872845,11.457624,61.110529,3.904270
1,20,8.357613,163.098254,34989.047081,7.696943,317.301680,404.492614,8.271882,67.598158,4.366242
2,23,8.246920,119.028215,7747.577263,9.124225,NaN,579.247674,13.001229,72.803734,4.096620
3,37,5.588130,220.817522,8730.312436,8.321897,300.220428,412.708557,6.478626,80.637806,3.165618
4,38,6.891549,184.074628,13376.680472,6.866435,333.802475,508.681145,16.586205,81.712849,4.958937
...,...,...,...,...,...,...,...,...,...,...
651,3267,6.344095,164.817207,14973.297357,10.707016,316.144450,337.219448,19.411699,64.384970,3.843484
652,3269,6.185951,174.796123,22198.929420,7.608496,NaN,479.091845,13.744284,51.497112,5.205724
653,3272,9.454119,224.817132,21379.963927,5.407692,227.665635,431.613001,15.772334,52.033845,4.058626
654,3273,6.203573,139.129083,6698.239095,3.876813,NaN,601.526167,13.368165,68.298689,4.305549
655,3274,5.726336,191.752290,35899.280309,8.066654,378.774605,307.987551,12.568721,60.192351,3.912289

In [143]:
print(X_train.shape)
print('-'*80)
print(X_test.shape)
print('-'*80)
print(y_train.shape)
print('-'*80)

print(X_train.info())
print('-'*80)
print(X_test.info())
print('-'*80)
print(y_train.info())
print('-'*80)

print(X_train.describe())
print('-'*80)
print(X_test.describe())
print('-'*80)
print(y_train.describe())
print('-'*80)

(2620, 10)
--------------------------------------------------------------------------------
(656, 10)
--------------------------------------------------------------------------------
(2620, 2)
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2620 entries, 0 to 2619
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               2620 non-null   int64
 1   ph               2225 non-null   float64
 2   Hardness         2620 non-null   float64
 3   Solids           2620 non-null   float64
 4   Chloramines      2620 non-null   float64
 5   Sulfate          2003 non-null   float64
 6   Conductivity     2620 non-null   float64
 7   Organic_carbon   2620 non-null   float64
 8   Trihalomethanes  2488 non-null   float64
 9   Turbidity        2620 non-null   float64
dtypes: float64(9), int64(1)
memory usage: 204.8 KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               656 non-null    int64
 1   ph               549 non-null    float64
 2   Hardness         656 non-null    float64
 3   Solids           656 non-null    float64
 4   Chloramines      656 non-null    float64
 5   Sulfate          504 non-null    float64
 6   Conductivity     656 non-null    float64
 7   Organic_carbon   656 non-null    float64
 8   Trihalomethanes  618 non-null    float64
 9   Turbidity        656 non-null    float64
dtypes: float64(9), int64(1)
memory usage: 51.4 KB
None
--------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2620 entries, 0 to 2619
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          2620 non-null   int64
 1   Potability  2620 non-null   int64
dtypes: int64(2)
memory usage: 41.1 KB
None
--------------------------------------------------------------------------------
                ID           ph     Hardness        Solids  Chloramines  \
count  2620.000000  2225.000000  2620.000000   2620.000000  2620.000000
mean   1625.172901     7.059707   196.264418  22093.718726     7.128428
std     943.704162     1.608470    33.367043   8840.992109     1.589347
min       0.000000     0.000000    47.432000    728.750830     0.352000
25%     810.750000     6.069364   176.676887  15675.546419     6.133588
50%    1614.500000     7.025504   197.103467  20972.316194     7.145240
75%    2443.250000     8.064653   217.024476  27410.099280     8.124300
max    3275.000000    14.000000   317.338124  61227.196008    13.043806

           Sulfate  Conductivity  Organic_carbon  Trihalomethanes    Turbidity
count  2003.000000   2620.000000     2620.000000      2488.000000  2620.000000
mean    333.128452    426.860672       14.255754        66.362313     3.973541
std      41.675257     81.005322        3.335463        16.176955     0.776490
min     129.000000    181.483754        2.200000         0.738000     1.450000
25%     307.592458    366.706407       12.053075        55.614198     3.439540
50%     332.239359    422.145751       14.207656        66.363580     3.969391
75%     358.967592    482.843561       16.509051        77.517441     4.514376
max     481.030642    753.342620       28.300000       120.030077     6.357439
--------------------------------------------------------------------------------
                ID          ph    Hardness        Solids  Chloramines  \
count   656.000000  549.000000  656.000000    656.000000   656.000000
mean   1686.733232    7.109373  196.967801  22060.875629     7.145384
std     953.477339    1.708485   35.071497   9196.755914     1.592918
min      16.000000    0.000000   73.492234   1198.943699     0.352000
25%     833.500000    6.191241  178.783193  15361.297631     6.191615
50%    1740.500000    7.061846  197.731482  20516.502626     7.240821
75%    2507.500000    8.137713  220.059995  26947.343985     8.275407
max    3274.000000   14.000000  308.253833  61227.196008    11.753904

          Sulfate  Conductivity  Organic_carbon  Trihalomethanes   Turbidity
count  504.000000    656.000000      656.000000       618.000000  656.000000
mean   335.135112    428.488241       14.387936        66.346042    3.999172
std     40.433119     80.752703        3.183755        16.554886    0.761541
min    227.665635    181.483754        5.196717        14.343161    1.450000
25%    307.690862    367.873414       12.296639        55.417524    3.477012
50%    333.315429    425.312595       14.241394        65.816254    3.999899
75%    361.076320    487.590567       16.665786        78.181567    4.489276
max    476.539717    708.226364       22.187849       114.034946    6.357439
--------------------------------------------------------------------------------
                ID   Potability
count  2620.000000  2620.000000
mean   1625.172901     0.390076
std     943.704162     0.487860
min       0.000000     0.000000
25%     810.750000     0.000000
50%    1614.500000     0.000000
75%    2443.250000     1.000000
max    3275.000000     1.000000
--------------------------------------------------------------------------------

In [144]:
print(X_train.isna().sum())
print('-'*80)
print(X_test.isna().sum())
print('-'*80)
print(y_train.isna().sum())
print('-'*80)

ID                   0
ph                 395
Hardness             0
Solids               0
Chloramines          0
Sulfate            617
Conductivity         0
Organic_carbon       0
Trihalomethanes    132
Turbidity            0
dtype: int64
--------------------------------------------------------------------------------
ID                   0
ph                 107
Hardness             0
Solids               0
Chloramines          0
Sulfate            152
Conductivity         0
Organic_carbon       0
Trihalomethanes     38
Turbidity            0
dtype: int64
--------------------------------------------------------------------------------
ID            0
Potability    0
dtype: int64
--------------------------------------------------------------------------------

In [145]:
X_train['ph'] = X_train['ph'].fillna(X_train['ph'].median())
X_train['Chloramines'] = X_train['Chloramines'].fillna(X_train['Chloramines'].median())
X_train['Sulfate'] = X_train['Sulfate'].fillna(X_train['Sulfate'].median())
X_train['Trihalomethanes'] = X_train['Trihalomethanes'].fillna(X_train['Trihalomethanes'].median())

X_test['ph'] = X_test['ph'].fillna(X_test['ph'].median())
X_test['Sulfate'] = X_test['Sulfate'].fillna(X_test['Sulfate'].median())
X_test['Trihalomethanes'] = X_test['Trihalomethanes'].fillna(X_test['Trihalomethanes'].median())

In [146]:
print(X_train.isna().sum().sum())
print('-'*80)
print(X_test.isna().sum().sum())
print('-'*80)
print(y_train.isna().sum().sum())
print('-'*80)

0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------
0
--------------------------------------------------------------------------------

In [147]:
X_train = X_train.drop(columns = "ID")
y_train = y_train.drop(columns = "ID")
X_test_ID = X_test.pop("ID")

display(X_train.head())
display(y_train.head())
display(X_test)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,8.662710,173.531947,20333.079495,5.636388,439.787938,459.633120,16.283311,89.924253,5.120103
1,7.025504,226.270824,15380.124079,6.661474,332.239359,392.558205,14.083110,50.286395,4.516870
2,7.583770,217.283262,36343.407055,8.532726,375.964391,393.877683,17.442301,77.722257,3.642289
3,6.584813,182.375456,24723.106296,6.238920,332.239359,414.350751,17.582615,78.213738,4.404132
4,7.179864,180.854211,10859.553752,8.263503,341.302486,358.056264,12.065317,83.329918,3.878447

   Potability
0           0
1           1
2           0
3           0
4           0

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,4.891960,153.506232,9559.547392,7.847066,349.824390,496.872845,11.457624,61.110529,3.904270
1,8.357613,163.098254,34989.047081,7.696943,317.301680,404.492614,8.271882,67.598158,4.366242
2,8.246920,119.028215,7747.577263,9.124225,333.315429,579.247674,13.001229,72.803734,4.096620
3,5.588130,220.817522,8730.312436,8.321897,300.220428,412.708557,6.478626,80.637806,3.165618
4,6.891549,184.074628,13376.680472,6.866435,333.802475,508.681145,16.586205,81.712849,4.958937
...,...,...,...,...,...,...,...,...,...
651,6.344095,164.817207,14973.297357,10.707016,316.144450,337.219448,19.411699,64.384970,3.843484
652,6.185951,174.796123,22198.929420,7.608496,333.315429,479.091845,13.744284,51.497112,5.205724
653,9.454119,224.817132,21379.963927,5.407692,227.665635,431.613001,15.772334,52.033845,4.058626
654,6.203573,139.129083,6698.239095,3.876813,333.315429,601.526167,13.368165,68.298689,4.305549
655,5.726336,191.752290,35899.280309,8.066654,378.774605,307.987551,12.568721,60.192351,3.912289

In [148]:
from sklearn.preprocessing import StandardScaler
Scaler = StandardScaler()
X_train[['ph', 'Hardness', 'Solids','Chloramines','Sulfate','Conductivity','Organic_carbon','Trihalomethanes','Turbidity']] = Scaler.fit_transform(X_train[['ph', 'Hardness', 'Solids','Chloramines','Sulfate','Conductivity','Organic_carbon','Trihalomethanes','Turbidity']])
X_test[['ph', 'Hardness', 'Solids','Chloramines','Sulfate','Conductivity','Organic_carbon','Trihalomethanes','Turbidity']] = Scaler.fit_transform(X_test[['ph', 'Hardness', 'Solids','Chloramines','Sulfate','Conductivity','Organic_carbon','Trihalomethanes','Turbidity']])

In [166]:
from sklearn.model_selection import train_test_split
X_tr, X_ts, y_tr, y_ts =  train_test_split(X_train, y_train, test_size=0.3)

from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier()
modelRF.fit(X_tr, y_tr)
modelRF.score(X_ts, y_ts)

C:\Users\inseo\AppData\Local\Temp\ipykernel_29224\2373499039.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelRF.fit(X_tr, y_tr)

0.6577608142493638

In [150]:
y_pred = modelRF.predict(X_ts)

In [151]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [152]:
print(roc_auc_score(y_pred, y_ts))
print(f1_score(y_pred, y_ts))
print(confusion_matrix(y_pred, y_ts))
print(accuracy_score(y_pred, y_ts))
print(precision_score(y_pred, y_ts))
print(recall_score(y_pred, y_ts))

0.6372795604268039
0.427645788336933
[[422 197]
 [ 68  99]]
0.6628498727735369
0.3344594594594595
0.592814371257485

In [153]:
result = modelRF.predict(X_test)

In [154]:
print(roc_auc_score(result, y_test['Potability']))
print(f1_score(result, y_test['Potability']))
print(confusion_matrix(result, y_test['Potability']))
print(accuracy_score(result, y_test['Potability']))
print(precision_score(result, y_test['Potability']))
print(recall_score(result, y_test['Potability']))

0.8920314805705853
0.848360655737705
[[375  53]
 [ 21 207]]
0.8871951219512195
0.7961538461538461
0.9078947368421053

In [134]:
pd.DataFrame({'ID':X_test_ID, 'Potability':result}).to_csv("분류 7. 수질 음용성 여부 데이터", index=False)

In [135]:
pd.read_csv('분류 7. 수질 음용성 여부 데이터')

       ID  Potability
0      16           0
1      20           1
2      23           1
3      37           0
4      38           0
..    ...         ...
651  3267           0
652  3269           0
653  3272           1
654  3273           1
655  3274           0

[656 rows x 2 columns]